<%- include('parcials/header-start') %>
<%- include('parcials/header-end') %>
<%- include('parcials/nav') %>


<div class="container margin-top-3 p-heading background-1 border-radius padding-point-4">
Email: <a href="mailto:bikrant.acc.edu@gmail.com">bikrant.ecc.edu@gmail.com</a><br>
Contact: <a href="tel:+919424308293">+91 9424308293</a><br>
Instagram: <a href="http://instagram.com/bikrant_bikram/">@bikrant_bikram</a><br>
Twitter: <a href="http://instagram.com/bikrant_bikram/">@bikrant_bikram</a><br>

</div>




<%- include('parcials/footer') %>

