<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vishal Portfolio</title>
		<link rel="stylesheet" href="css/style.css" />

		<!-- locomotive-scroll -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
	</head>
	<body id="js-scroll">
		<div class="wrapper">
			<div class="container">
				<!-- navbar -->
				<div class="navbar">
					<div class="navbar-container">
						<div class="site-title">Vishal</div>
						<div class="site-type">portfolio</div>
						<div class="site-year">2024</div>
					</div>
				</div>

				<!-- divider -->
				<div class="divider"></div>

				<!-- header -->
				<div class="header">
					<div class="header-container">
						<h1>&nbsp;Creative<br />&nbsp;&nbsp;&nbsp;&nbsp;Web<br />&nbsp;Developer</h1>
					</div>
				</div>

				<!-- hero-image -->
				<div class="hero-image">
					<div class="hero-image-container" data-scroll data-scroll-speed="2">
						<img src="img/hero.jpg" alt="" />
					</div>
				</div>

				<div class="whitespace"></div>

				<!-- sections -->
				<div class="section-header">
					<div class="section-header-container">
						<div class="section-title">about</div>
						<div class="section-order">/001</div>
					</div>
				</div>

				<div class="divider"></div>

				<!-- about  Secrtion -->
				<section class="about">
					<div class="about-container">
						<p>
              Heyyyy! I am Vishal Creative Web Developer form India.
						</p>
						<p>
              "Just like the fascinating evolution of gorillas into humans, let's take your webpage from dull to dazzling!, we'll inject a sense of excitement and transformation into your online presence.Get ready to captivate visitors with a unique and engaging experience that showcases your talents in a way that's anything but boring. Together, we'll create a portfolio that stands out, leaving a lasting impression on anyone who visits. 
						</p>
						<p> Let's unleash our creative powers and make your webpage shine!" 🌟🚀</p>
					</div>
				</section>

				<div class="whitespace"></div>

				<!-- projects Section -->
				<div class="section-header">
					<div class="section-header-container">
						<div class="section-title">projects</div>
						<div class="section-order">/002</div>
					</div>
				</div>

				<div class="divider"></div>

				<section class="project">
					<div class="project-container">
						<div>
							<nav class="menu">
								<div class="menu__item">
									<a class="menu__item-link" href="https://genshop.netlify.app">/ GenShop</a>
									<img class="menu__item-img" src="img/prediction.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>GenShop</span>
											<span>GenShop</span>
											<span>GenShop</span>
											<span>GenShop</span>
										</div>
									</div>
								</div>

								<div class="divider"></div>

								<div class="menu__item">
									<a class="menu__item-link" href="https://go-to-tiffin.netlify.app">/ Go-To-Tiffin</a>
									<img class="menu__item-img" src="img/encryption.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>Go-To-Tiffin</span>
											<span>Go-To-Tiffin</span>
											<span>Go-To-Tiffin</span>
											<span>Go-To-Tiffin</span>
										</div>
									</div>
								</div>



								<div class="divider"></div>

								<div class="menu__item">
									<a class="menu__item-link" href="https://movies007hunt.netlify.app">/ Movieshunt</a>
									<img class="menu__item-img" src="img/terminal.jpg" />
									<div class="marquee">
										<div class="marquee__inner">
											<span>Movieshunt</span>
											<span>Movieshunt</span>
											<span>Movieshunt</span>
											<span>Movieshunt</span>
										</div>
									</div>
								</div>

								<div class="divider"></div>

								<!-- <div class="menu__item">
									<a class="menu__item-link" href="https://www.researchgate.net/publication/339266198_Recursive_Stock_Price_Prediction_With_Machine_Learning_And_Web_Scrapping_For_Specified_Time_Period?_sg%5B0%5D=K5B4zvALEz-dEaPg1qEqMEU2gD05sggDTw-w90-3tqVxbM12HDIjHpH9E92p6nhVZHRLlQ0YjNplstk8Fqq9ByPpmQidUAVY2eURH2SA.FCtNmjKvF9ur5fVcf3yfgVNy5JYr52RwpHpAwAu92jD3ffYeaLeGz1uEHsR0DKBtuvugCZm4QDk61lNQVkFEcQ&_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6Il9kaXJlY3QiLCJwYWdlIjoicHJvZmlsZSIsInBvc2l0aW9uIjoicGFnZUNvbnRlbnQifX0">/ Stock Prediction</a>
									<img class="menu__item-img" src="img/stock-market.jpg" />
									<div class="marquee">
										<div class="marquee__inner" aria-hidden="true">
											<span>Stock Prediction</span>
											<span>Stock Prediction</span>
											<span>Stock Prediction</span>
											<span>Stock Prediction</span>
										</div>
									</div>
								</div> -->
							</nav>
						</div>
					</div>
				</section>

				<div class="whitespace"></div>

				<!-- clients -->
				<div class="section-header">
					<div class="section-header-container">
						<div class="section-title">Skills</div>
						<div class="section-order">/003</div>
					</div>
				</div>

				<div class="divider"></div>

				<section class="clients">
					<div class="clients-container">
						<p>
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python (Programming Language), Javascipt,  React.js, Sql, Render, Github, Html, Css, netlify. GoogleSheet, Manual Testing 
							<br />
						</p>
					</div>
				</section>

				<div class="whitespace"></div>

				<!-- social  -->
				<section class="section-header">
					<div class="section-header-container">
						<div class="section-title">socials</div>
						<div class="section-order">/004</div>
					</div>
				</section>

				<div class="divider"></div>

				<section class="socials">
					<div class="socials-container">
						<div class="socials-id dr"><a href="https://github.com/vishalsoni2014">Github</a></div>
						<div class="socials-id ln"><a href="https://www.linkedin.com/in/vishal-soni-bb7770146?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Linkedin</a></div>
						<div class="socials-id ig"><a href="https://www.instagram.com/we._.shall_?igsh=d2lrcWI2OXgwMjlq">Instagram</a></div>
						<div class="socials-id tw"><a href="mailto:vishalsoni2014d@gmail.com">Email</a></div>
					</div>
				</section>

				<div class="divider"></div>

				<!-- footer -->
			

				<!-- footer -->
			

				<!-- footer -->
		

				<!-- footer -->
				<div class="footer">
					<div class="navbar">
						<div class="navbar-container">
							<div class="site-title">Feel free to reach out.</div>
							<div class="site-year">India</div>
						</div>
					</div>
				</div>
        <div class="whitespace"></div>
        <div class="divider"></div>

				<!-- footer -->
				<div class="footer">
					<div class="navbar">
						<div class="navbar-container">
							<div class="site-title">Feel free to reach out.</div>
							<div class="site-year">India</div>
						</div>
					</div>
				</div>
        <div class="whitespace"></div>

        
			</div>
		</div>

		<script>
			const scroll = new LocomotiveScroll({
				el: document.querySelector("#js-scroll"),
				smooth: true,
				smoothMobile: true,
				inertia: 0.50,
			});
		</script>
	</body>
</html>
